<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Stream site - home</title>
</head>
<body>
    logged in: {{username}}
    <h1>Streamsite - the #1 site for streaming</h1>
    <p>Welcome to the stream site. Here you can find all the latest movies and TV-shows.</p>
    <div>
        <h2>Streams</h2>
        <ul>
            {% for stream in streams %}
                <li style="margin: 15px;">
                    {{stream}} <br>
                    <dd>Comments:</dd>
                    <ul>
                        {% for comment in comments %}
                            {% if comment.stream == stream %}
                                <li>{{comment}}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>