<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Stream site - home</title>
</head>
<body>
    logged in: {{username}}
    <h1>Streamsite - the #1 site for streaming</h1>
    <p>Welcome to the stream site. Here you can find all the latest movies and TV-shows.</p>
    <div>
        <h2>Movies</h2>
        <ul>
            <li>
                King Kong
            </li>
        </ul>
        <h2>TV-shows</h2>
        <ul>
            <li>
                Friends
            </li>
        </ul>
    </div>
</body>
</html>